.plProfileMain {
  width: 25vw;
  height: 150px;
  background: darkseagreen;
  border-radius: 10px;
  box-shadow: 0 4px 10px 3px #33333342;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  p {
    margin: 2px;
  }
}

.plBaseInfo {
  display: flex;
  margin-bottom: 8px;
  align-items: center;

  .plContentAvatar {
    background-color: darkorange;
    margin-right: 10px;
  }
}
