
:global {
  .ant-layout-content{
    min-height: 120px;
    color: #fff;
    line-height: 120px;
    background: rgb(255, 0, 183);
  }
}


.skillCard{
  width: 20%;
  height: 20%;
  background: #107bcb;
}

.imageMessage {
  background: url("../../static/bg_1.jpg") no-repeat;
  width: 200px;
  height: 100px;
}

.contentHead{
  display: flex;
}
